$bodyColorDefault : #007bae;
$fontColorDefault : white;

body {

    background-color:$bodyColorDefault;
}

.About {

    .customJumbo {
        height: 40vh;
        background-image: url('https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
        background-size: cover;
        padding-top: 6em;     
        
        h1 {
            font-size: 3em;
            color: $fontColorDefault;
        }

        p {
            font-weight: 600;
            letter-spacing: 1px;
            font-family: 'Open Sans';
            color: $fontColorDefault;  
        }

  // Small devices (landscape phones, 576px and up)
        @media (max-width: 576px) { 
          padding-top: 5em;
          h1 {
            font-size: 2.8em;
          }

          p {
            display: none;
          }
        }

    }

//Animation Effect for Jumbotron Header
    @keyframes swivelChair {
        from {
          transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
          animation-timing-function: ease-in;
          opacity: 1;
        }
      
        40% {
          transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
          animation-timing-function: ease-in;
        }
      
        60% {
          transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
          opacity: 1;
        }
      
        80% {
          transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
      
        to {
          transform: perspective(400px);
        }
      }
      
      .swivelChair {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-name: swivelChair;
        animation-duration: 2s;
      }

// Custom Intro CSS     
   .customIntro {
    color: $fontColorDefault;
      p {
        font-family: 'Open Sans';
        font-weight: 600;
      }

<<<<<<< HEAD

=======
   }
>>>>>>> b82543de92954596e629d896a4c8b5705378856c



}