$bodyColorDefault : #007bae;
$fontColorDefault : white;

body {

    background-color:$bodyColorDefault;
}

.Contact {

    .customJumbo {
        height: 40vh;
        background-image: url('https://images.unsplash.com/photo-1511593358241-7eea1f3c84e5?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1567&q=80');
        background-size: cover;
        padding-top: 6em;     
        
        h1 {
            font-size: 3em;
            color: $fontColorDefault;
        }

    }

//Animation Effect for Jumbotron Header
    @keyframes swivelChair {
        from {
          transform: perspective(400px) rotate3d(0, 1, 0, 90deg);
          animation-timing-function: ease-in;
          opacity: 1;
        }
      
        40% {
          transform: perspective(400px) rotate3d(0, 1, 0, -20deg);
          animation-timing-function: ease-in;
        }
      
        60% {
          transform: perspective(400px) rotate3d(0, 1, 0, 10deg);
          opacity: 1;
        }
      
        80% {
          transform: perspective(400px) rotate3d(0, 1, 0, -5deg);
        }
      
        to {
          transform: perspective(400px);
        }
      }
      
      .swivelChair {
        -webkit-backface-visibility: visible !important;
        backface-visibility: visible !important;
        animation-name: swivelChair;
        animation-duration: 2s;
      }

// Custom Intro CSS     
   .customIntro {
    color: $fontColorDefault;
      p {
        font-family: 'Open Sans';
        font-weight: 600;
      }

    }

//Media queries
// Extra small devices (portrait phones, less than 576px)
    @media (max-width: 575.98px) { 
      .customJumbo {
        height: 30vh;
        padding-top: 4em;
        
        h1 {
          font-size: 2.8em;
        }

        p {
          display: none;
        }
      }

      .customIntro {
        h {
          font-size: 2.8em;
        }
      }

    }

// Small devices (landscape phones, less than 823px)
    @media (max-width: 823px) { 
      .customJumbo {
        height: 30vh;
        padding-top: 4em;

        h1 {
          font-size: 2em;
        }

        p {
          display: none;
        }
      }

      .customIntro {
        h {
          font-size: 2.8em;
        }
      }

    }


}