@import url('https://fonts.googleapis.com/css?family=Permanent+Marker');

$font-family-sans-serif: 'Permanent Marker', cursive;

$defaultNavColor: white;

.customToggle {
    &:focus {
        outline: none;
    }

    span {
        background-image: url('/icon.svg') !important;
    }
}

.header {

    a {
        color: $defaultNavColor;
    }

    .customToggle {
        color: $defaultNavColor;
    }
    .custom {               
        $font-family-base: $font-family-sans-serif;
        font-family: $font-family-base;
        color: $defaultNavColor;
        // font-size: 3em;
    }

    .na {
        color:$defaultNavColor;
    }
}



/* Import Bootstrap and its default variables (Need this as most of the variables are not covered for jumbotron in the 
   _jumbotron.scss file) */

@import '~bootstrap/scss/bootstrap.scss';

